*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    background-color: #1B1F3A;
    color:  #E4E7F4;
    font-family: "Protest Riot", sans-serif;
}

.container{
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.headerConverter{
    font-size: 1.5rem;
    margin: 3%;
    width: 100%;
    max-width: 1500px;

}

.headerConverter h1{
    font-size: 4rem;

}

.headerConverter h1:hover{  
    cursor: pointer;
}

.morseTitle{
    width: 100%;
    height: 100px;
    margin: 20px 0 20px 0;
    background-color: red;
}

.headerConverter p{
    font-size: 1.9rem;
    padding: 30px;
}

.inputResult{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2%;
}

.textArea, .resultArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%; 
}

/*
 textArea::after{
    content: "0 /150";
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: gray;
} 
*/

.inputResult label{
    font-size: 1.3rem;
    margin-bottom: 3.4rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 80%;
    min-height: 50px;
}


.inputResult textarea{
    resize: none;
    width: 100%;
    flex-grow: 1;
    max-width: 500px;
    min-height: 155px;
    max-height: 350px;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 20px;
    border: 3px solid #ccc;
    box-shadow: 15px 25px 10px rgb(0, 0, 0, 0.2);        
    font-family: "Protest Riot", sans-serif;
}


.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#convertedButton{
    width: 80%;
    padding: 9px;
    font-size: 1.2rem;
    margin: 50px;
    background-color: #007bff;
    border-color: #9EC1F9;
    color: #e4e7f4;
    border-radius: 17px;
    cursor: pointer;
    font-family: "Protest Riot", sans-serif;
    
}

#convertedButton:hover, #clearButton:hover{
    background-color: #0056b3;
    color: #E4E7F4;
}


#clearButton{
    width: 90%;
    padding: 9px;
    font-size: 1.2rem;
    margin: 50px;
    background-color: #007bff;
    border-color: #9EC1F9;
    color: #e4e7f4;
    border-radius: 17px;
    cursor: pointer;
    font-family: "Protest Riot", sans-serif;
    
}

span{
    font-size: 1.2rem;
    color: #E4E7F4;
    margin-top: 10px;
}

@media (max-width: 600px){
    .inputResult{
        grid-template-columns: 1fr;
    }

    .textArea, .resultArea{
        max-width: 100%;
    }
}


@media (min-width: 600px) and (max-width: 768px){
    body{
        background-color: red;
        font-size: 15rem;
    }

    .container{
        max-width: 100%;
    }

    .headerConverter{
        width: 100%;
        font-size: 1.1rem;
    }

    .inputResult{
        grid-template-columns: 1fr;
    }

    .inputResult label{
        font-size: 1.6rem;
    }
}

@media (min-width: 640px ) and (max-width: 800px){
    body{
        background-color: yellow;
        font-size: 15rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .container{
        max-width: 100%;
    }

    .headerConverter{
        width: 100%;
        font-size: 1.1rem;
    }
    /*
    .inputResult{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1%;
    }

    .inputResult label{
       font-size: 1.6rem;
    }
*/
}